body {
    background-color: #fff;
    color: #111;
    font-family: Century Gothic;
}
.blockTable {border: 0px;}
.cell {
    width: 40px;
    height: 40px;
    /*background-color: rgb(136, 99, 5);*/
    background-color: rgb(180, 145, 108);
    position: relative;
    padding: 0px;
    border: 1px black solid;
}
.empty_cell {
    width: 40px;
    height: 40px;
    /*background-color: rgb(136, 99, 5);*/
    background-color: rgb(180, 145, 108);
    position: relative;
    padding: 0px;
    z-index: -1;
}
.letter {
    font-size: 15px;
    position: absolute;
    left:-8px;
    -webkit-user-select: none;
}
.letter_bottom {bottom:20px;}
.letter_top {top:20px;}
.number {
    font-size: 15px;
    position: absolute;
    top:-8px;
    -webkit-user-select: none;
}
.number_right {
    right: 20px
}
.number_left {
    left: 20px
}
.block {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 20px;
}
.block_0corner {
    top: -20px;
    left: -20px;
}
.block_1corner {
    top: -20px;
    right: -20px;
}
.block_2corner {
    bottom: -20px;
    right: -20px;
}
.block_3corner {
    bottom: -20px;
    left: -20px;
}
.block_1 {
    background-color: black;
}
.block_-1 {
    background-color: white;
}
.block_hint {
    background-color: red;
    opacity: 0.3;
}
#game {
    display: inline-flex;
}
.tr {
    transition: 0.3s;
}