.blockTable {border: 0px;}
.gobanTexture {
    //background: url('../../assets/goban.png');
}
.cell {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: relative;
    padding: 0px;
    border: 1px black solid;
}
.empty_cell {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: relative;
    padding: 0px;
    z-index: 1;
}

.letter {
    font-size: 18px;
    position: absolute;
    left:-8px;
    -webkit-user-select: none;
}
.letter_bottom {bottom:13px;}
.letter_top {top:13px;}

.number {
    font-size: 18px;
    position: absolute;
    top:-8px;
    -webkit-user-select: none;
}
.number_right {right: 20px}
.number_left {left: 20px}

.roundmarker {
    width:12px;
    height:12px;
    border-radius: 6px;
    background: black;
    position: absolute;
    top:-7px;
    right:-7px;
}
.block {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-shadow: 1px 2px 2px rgba(0,0,0,.5);
}
.block_0corner {
    top: -20px;
    left: -20px;
}
.block_1corner {
    top: -20px;
    right: -20px;
}
.block_2corner {
    bottom: -20px;
    right: -20px;
}
.block_3corner {
    bottom: -20px;
    left: -20px;
}
.block_1 {
    background-color: black;
    color: white;
}
.block_-1 {
    background-color: white;
    color: #0f6c9a;
}
.block_fantom {
    opacity: 0.4;
}
.block_hint {
    background-color: red;
    opacity: 0.4;
    font-size: 26px;
}
.block_hint_special {
    background-color: blue;
    opacity: 0.4;
    font-size: 26px;
}
.block_selector {
    background-color: aqua;
    opacity: 0.4;
}

#game {
    display: inline-flex;
    //margin: 25px;
}
.tr {transition: 0.3s;}
#specialMessages {
    font-size: 20px;
    padding: 15px;
    color:#fff
}
#modalFooter {padding:15px;}
#passButton {
    font-size: 18px;
    width: 120px;
    margin-right:18px;
}
#resignButton {
    font-size: 18px;
    width: 120px;
}
#moveStoryShort {
    width:500px;
    height:60px;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-block;
    white-space: nowrap;
}
.storyBlock {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: inline-block;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}
.storyBlock:hover {
    background-color: #2196F3;
    color: white;
}
.clickedStoryBlock {
    background-color: #2196F3;
    color: white;
}