.bar {
  font-size: 15px;
  overflow: visible;
  max-height: calc(100% - 25px);
  padding: 20px;
}
.section {
  margin-bottom: 20px;
}
.icon {
  font-size: 20px;
}
.opposite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moveDiv {
    padding: 8px!important;
    display: grid;
    grid-template-columns: 14px 1fr 20px 30px;
    grid-gap: 10px;
    grid-template-areas:
      "circle name timer-i timer";
    font-size: 15px;
}
.circle {
    line-height: unset!important;
    grid-area: circle;
}
.textLimiter {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    grid-area: name;
}
#whiteTimer, #blackTimer {
  text-align: right;
  grid-area: timer;
}
.time-icon {
  grid-area: timer-i;
}
.beetwin {
  display: flex !important;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.clickableMove {
  cursor:pointer;
}


.helperButton {
    width:100%;
    border-bottom: 3px solid #fff;
    background: #5d4483;
    font-size: 15px;
    color: white
}
.helperButtonCritical {
  background: #447b83!important;
}
.helperButton:last-child {
    border:none;
}
.helperButton:hover, .helperButtonSmall:hover {
    background: #402f5a !important;
    color: #fff !important;

}
.helperButtonSmall {
    width:100%;
    padding: 2px;
    background-color: #dec8ff;
}
.helperButtonSmallCritical {
  background: #cfffc8!important;
}
#recommendedHelpersLabel {
  white-space: nowrap;
}
.w3-purple {
  background: #1f1233  !important;
  padding: 15px !important;
}
#modalHeader {
  margin: none !important;
}
.w3-container {
  font-size: 20px;
}
.w3-modal {
  background:hsla(287, 100%, 9%, 0.5) !important;
}
