body {
  margin: 0;
  font-family: sans-serif;
  background-color: #543389 !important;
  background-image: url('../../assets/logo-bg.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100px !important;
  background-position: left 20px top 20px !important;
}
html {overflow: hidden;}
/* transitions */

.slide-fade-enter-active {transition: all .5s;}
.slide-fade-leave-active {transition: all .5s;}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.top-fade-enter-active {transition: all .5s;}
.top-fade-leave-active {transition: all .5s;}
.top-fade-enter, .top-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

/* Loader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* patterns */

/*
  Clsses w3c:
  w3-button w3-card-4 tr w3-hover-white
*/

.button {
  outline: none;
  border: none;

  background-color: #fff;
  position: relative;

  margin-bottom: 12px;
  padding: 16px;
  padding-left: 28px;

  font-size: 28px;
  color: #1f1233;

  cursor: pointer;
}
.button:last-child {margin: 0;}
.button:hover {transform: scale(1.05);}
.button:active {transform: scale(1.025);}
.button:disabled, .disabled {opacity: 0.5;}
.button:disabled:hover, .disabled {
  cursor: not-allowed;
  transform: none;
}
.disabled {transform: none !important;}

.button::before {
  position: absolute;
  top: 50%; transform: translateY(-50%);
  left: 10px;
  content-visibility: visible;
}

.input {
  border: none;
  border-color: #fff;
  outline: none;
  position: relative;

  color: #1f1233;
  background-color: #fff;

  width: 100%;
  font-size: 24px;
  padding: 16px;
  margin-bottom: 8px;
  transition: border-color 0.3s;
}
.input:hover {border-right: 10px solid #a999c4;}
.input-invalid {border-right: 10px solid red;}
.input[invalid] {border-right: 10px solid red;}

.output {
  padding: 16px;
  background: #ede7f6;
  font-size: 28px;
  color: #1f1233;
  margin-bottom: 8px;
  text-align: center;
}
.output:last-child {margin: 0;}

.full-width {width: 100%;}
.full-height {height: 100%;}
.full-size {
  width: 100%;
  height: 100%;
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  background:hsla(287, 100%, 9%, 0.5);
}
.modal {
  padding: 20px;
  max-width: 700px;
}
.loading {
  position: fixed;
  left: 50%; transform: translateX(-50%);
  top: 0;
}
.modal header {
  background: #1f1233;
  padding: 20px;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.modal h1 {
  margin: 0;
}
.modal-close {
  background: none;
  outline: none;
  border: none;
  font-size: 24px;
  transition: transform 0.3s;
}
.modal-close:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.modal-close:active {
  transform: scale(1.025);
}
.modal p {
  background: #fff;
  padding: 16px;
  margin: 0;
  font-size: 24px;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile {
  padding: 16px;
  background: #a999c4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
}
.bookmark img {width: 100%;}
.bookmark span {
  color: #fff;
  font-size: 18px;
}
/* End patters */

/* Emoji */
.add-emoji::before {
  position: absolute;
  top: 50%; transform: translateY(-50%);
  left: 10px;
  content-visibility: visible;
}

.hi::before {content: '👋'}
.lamp::before {content: '💡'}
.loocker::before {content: '🔐'}
.point::before {content: '👉'}
.god::before {content: '🧘'}
.join::before {content: '🤝'}
.door::before {content: '🚪'}

.row {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 20px;
}

.right-arrow {
  display: block;
  width: 50px;
  background: #fff;
  border: 0;
  outline: none;
  transition: transform 0.3s;
}
.right-arrow:hover {transform: scale(1.05);}

.menu {
  height: 100vh;
  display: flex;
  align-items:  center;
  justify-content: center;
  flex-direction: column;
}

.form_window {max-width: 700px;}
.main-layout {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-gap: 100px;
  width: 100vw;
  padding: 70px;
}
.form_title {
  font-size: 28px;
  color: #fff;
  padding: 16px 0;
}
.form_title button {
  outline: none;
  border: none;
  background: none;
  padding: 0;

  font-size: 28px;

  color: #fff;

  transition: transform 0.3s;
}
.form_title button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.title {
  font-size: 28px;
  color: #fff;
  margin-bottom: 16px;
}

.back-button::before {
  content: "⟵";
  position: absolute;
  top: 50%; transform: translateY(-50%);
  left: 40px;
  transition: transform 0.3s;
}
.back-button:hover::before {transform: translateX(-20px) translateY(-50%);}

.tr {transition: .3s;}

.user {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: #1f1233;
  padding: 8px;

  display: grid;
  grid-template-columns: 1fr auto 100px;
  grid-template-areas: '. nick ava';
  grid-gap: 50px;
}
.user img {
  grid-area: ava;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.user-nick, .user-nick-link  {
  grid-area: nick;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  position: relative;

  transition: transform 0.3s;
}
.user-nick-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.3s;
}

.user-nick:hover {transform: translateY(-5px);}
.user-nick-link:hover::after {width: 100%;}

/*language flags*/
.flag {
  width:100px;
  height:100px;
  transition: .3s;
  cursor: pointer;
  margin-left: 10px;
}
.flag:hover {filter: saturate(2)}