body {
  margin: 0;
  font-family: sans-serif;
  background-color: #543389;
}

.menu {
  height: 100vh;
  display: flex;
  align-items:  center;
  justify-content: center;
  flex-direction: column;
}

.form_window {
  max-width: 700px;
}
.form_title {
  font-size: 40px;
  color: #fff;
  padding: 20px 0;
}
.form_title button {
  outline: none;
  border: none;
  background: none;
  padding: 0;

  font-size: 40px;

  color: #fff;

  transition: transform 0.3s;
}
.form_title button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.input {
  border: none;
  outline: none;

  color: #1f1233;

  width: 100%;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 10px;
}

.button-light {
  border: none;
  background: #fff;
  width: 100%;
  font-size: 40px;
  color: #1f1233;
  padding: 20px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}
.button-light:hover {
  cursor: pointer;
  transform: scale(1.05) translateX(-5px);
}

.shadow {
  box-shadow: 0px 0px 20px 10px #1f1233;
}
